.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    transition: all 0.5s;
}
.black {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to left,#00397F,#611C5B);
    z-index: 99;
    transition: all 0.5s;
    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
}


.logo{
    font-weight: 700;
    color: #111111;
    font-size: 40px;
}

.black .logo{
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}


.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 668px){
    .nav a,.black .nav a{
        font-size: 25px;
    }
}